@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

#content{width:75%;
  margin:0 auto;
}
#footer{background-color: #3f609f;
  width: 100%;
  height:auto;
  border-radius: 5px;
}

header img {
  width: 15%;
  height: auto;
  float: right;
  margin-right: 1.5em;
  margin-left: 1em;
  }
h1,h2{font-family:"Solway", "Times New Roman", serif;
  margin-bottom:-10px;
}
p,h1,h2,ul{color:#c4ad64;}
p,h1,h2{text-align: center;}
body{font-family:"Open Sans", "Arial", sans-serif;}
nav {background-color: #3f609f;
  font-size:1.2em;
  line-height:3em;
  font-weight:bold;
  text-align:right;
  padding-right:20px;
  border-radius: 5px;
}

a {color: #c4ad64;
font-size: 1.2em;
line-height:2;
}
a:visited {color:#8D4925;}
a:hover {background-color: #B4CFEC;
  color: #c4ad64;
  border-radius: 5px;
}
